/* TODO Add site wide styles */
/* TODO Add site wide styles */
.content {
  margin-top: 54px;
  background-color: rgb(250, 250, 250);
}

body {
  margin: 0;
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  outline: none;
}

a {
  text-decoration: none;
  color: rgb(38, 38, 38);
}

svg:active,
img:active {
  opacity: 0.5;
}

.blue-submit-button {
  width: 100%;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 149, 246);
}

.blue-submit-button {
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
}

.blue-submit-button:focus {
  background-color: rgb(92, 190, 255);
  outline: none;
}

.green-button {
  width: 45%;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(13, 173, 93);
  padding: 5px;
  margin-top: 4px;
  font-weight: 500;
  font-size: 16px;
}

.green-button:focus {
  background-color: rgb(44, 177, 3);
  outline: none;
}

.blue-button {
  width: 35%;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(14,164,227);
  padding: 5px;
  margin-top: 4px;
  font-weight: 500;
  font-size: 16px;
}

.blue-button:focus {
  background-color: rgb(6, 74, 221);
  outline: none;
}

.order-title {
  font-size: 24px;
  font-weight: 600;
  padding: 4px;
}

.order-profile-title {
  font-size: 28px;
  font-weight: 600;
  padding: 4px;
}

.rev-order-title {
  font-size: 24px;
  /* font-weight: bold; */
  padding: 4px;
}

.order-desc {
  font-size: 22px;
  padding: 5px;
}

.order-location {
  font-size: 20px;
  padding: 5px;
}

.order-start {
  margin-top: 6px;
  font-size: 20px;
  padding: 4px;
}

.rev-data {
  /* margin-left: 5px; */
  /* border: .5px solid rgb(94, 92, 92); */
  margin: 2px;
  margin-left: 0px;
  padding: 10px;
}

.rev-content {
  font-weight: 300;
  font-size: 24px;
  font-style: italic;
  padding: 3px;
}

.rev-score {
  /* margin-left: 75%; */
  font-weight: bold;
  margin-top: 2px;
  font-size: 18px;
  padding: 3px;
  color: rgb(14,164,227);
}

.rev-writer {
  font-weight: 300;
  margin-left: 50%;
  font-size: 18px;
  padding: 3px;
  /* color:rgb(107, 107, 107); */
}

.app-order-start {
  font-size: 22px;
  /* font-weight: bold; */
  padding: 5px;
  margin-top: 10px;
}

.app-order-title {
  font-weight: 600;
  margin-top: 5px;
  font-size: 26px;
  /* font-weight: bold; */
  padding: 5px;
}

.app-order-location {
  font-size: 22px;
  padding: 5px;
}

.order-virtual {
  font-size: 14px;
  padding: 5px;
  color:rgb(107, 107, 107)
}

.order-for {
  font-size: 22px;
  padding: 4px;
  /* color:rgb(107, 107, 107) */
}

.order-profile-for {
  font-size: 24px;
  font-style: italic;
  padding: 4px;
  /* color:rgb(107, 107, 107) */
}

.order-karma {
  font-size: 18px;
  padding: 5px;
  color:rgb(107, 107, 107)
}

.order-status, .app-status {
  font-size: 18px;
  padding: 5px;
  /* color:rgb(107, 107, 107) */
}

.app-username {
  font-size: 20px;
  padding: 4px;
}

.app-status {
  font-size: 20px;
  color:rgb(107, 107, 107);
  /* font-weight: bold; */
  padding: 2px;
  padding-bottom: 3px;
}


.submit-button-container {
  margin-top: 18px;
}

.submit-comment-button-container {
  margin-top: 18px;
  max-width: 30%;
}

.page-container {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 100vw;
  margin-top: 30px;
}

.profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 75px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin-top: 30px;
}

.app-form {
  border: 1px solid black;
}

.order-profile-container, .app-profile-container, .rev-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 100vw;
  margin-top: 75px;
}

.application-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 200vw;
  margin-top: 10vh;
}

.order-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 200vw;
  margin-top: 3vh;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 200vw;
  margin-top: 2vh;
}

.container {
  border: 1px solid rgb(219, 219, 219);
  padding: 12px;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  border: 1px solid rgb(219, 219, 219);
  padding: 12px;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 30px;
}

.profile-toggle-bar {
  margin-right: 59%;
  width: 34%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgb(5, 124, 59); */
}

.user-profile-body {
  border: 1px solid rgb(219, 219, 219);
  padding: 12px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 90%;
}

.user-profile-review {
  height: 25%;

}

.user-profile-name, .user-profile-score, .user-profile-karma, .user-profile-completions {
  width: 16%;
  font-weight: 700;
}

.order-profile, .app-profile, .rev-profile {
  border: 1px solid rgb(219, 219, 219);
  padding: 20px;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.field-inputs,
.field-inputs input {
  border: 1px solid rgb(219, 219, 219);
  width: 100%;
  background-color: rgb(250, 250, 250);
  box-sizing: border-box;
  border-radius: 3px;
}

.field-inputs input:focus {
  border: 1px solid black;
  padding: 6.2px;
}

.container input {
  border: none;
  padding: 0.45rem;
}

.container form {
  width: 80%;
}

.container form div {
  margin: 0.5rem 0;
}

.container p {
  color: rgb(38, 38, 38);
  font-size: 14px;
}

.redirect-container a {
  color: rgb(0, 149, 246);
  font-weight: 600;
}

.redirect-container a:focus {
  color: rgb(92, 190, 255);
}

.errors {
  color: rgb(237, 73, 86);
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.rounded-img-container {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.rounded-img-container img {
  object-fit: cover;
  border-radius: 50%;
}

.flex-left-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.normalize-text {
  font-size: 14px;
  color: rgb(142, 142, 142);
  margin: 0;
}

.comments-profile-pictures {
  width: 36px !important;
  height: 36px !important;
}

.ords {
  width: 725px;
  border-radius: 2px;

}

.profile-header {
  margin-bottom: 25px;
  font-size: 28px;
  font-style: italic;
}

.notifs-container {
  margin-top: 100px;
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.notif {
  padding: 10px;
  margin: 15px;
  background-color: white;
}

.notif:hover {
  background-color: rgb(248, 226, 229);
}

.apps {
  padding-top: 8px;
  width: 550px;
  border-radius: 2px;
}

.revs {
  width: 625px;
  border-radius: 2px;

}

.post-user-info {
  align-self: flex-start;
  display: flex;
  padding: 0 10px;
  border-bottom: 1px solid rgb(219, 219, 219);
  width: 100%;
}

h5 {
  color: rgb(38, 38, 38);
  font-weight: 700;
}

.post-image-container {
  width: 100%;
  height: auto;
  display: inline-block;
}

.post-image-container img {
  width: 100%;
  height: auto;
}

.post-caption-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.icons-container,
.logout {
  margin: 0 0.75rem;
  display: flex;
  align-items: center;
}

.icons-container:hover {
  cursor: pointer;
}

.demo-link:hover {
  cursor: pointer;
}

.caption-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.post-username {
  margin: 0;
  line-height: 19px;
  padding: 0 12px;
}

.username-comments-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.redirect-profile:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
}

.spacing {
  height: 100px;
}
.liked {
  color: red;
}

.file-input {
    width: 100%;
    position: relative;
}

.file-input div {
    width: 100%;
    height: 36px;
    cursor: pointer;
    background-color:rgb(250, 250, 250);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}

.file-input div:hover {
    box-shadow: 0 0 3px rgb(206, 206, 206);
}


nav {
  background: white;
  width: 100vw;
  box-sizing: border-box;
  top: 0;
  position: fixed;
  border-bottom: 1px solid rgb(219, 219, 219) ;
  z-index: 100;
}

.menu {
  display: flex;
  width: 100vw;
  height: 54px;
  line-height: 18px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

.search {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  padding: 4px;
  background-color: rgb(250, 250, 250);
  display: flex;
}

.search > input {
  width: 199px;
  border: none;
  color: rgb(142, 142, 142);
  text-align: left;
}

::-webkit-search-cancel-button {
  -webkit-appearance: black;
  cursor: pointer;

  height: 20px;
  width: 20px;
  content: 'X';
  color: black;
}

#dropdown-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 30px;
  height: 30px;
}

#dropdown-menu-button img {
  object-fit: cover;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#dropdown-menu-button:hover {
  box-shadow: 0 0 3px 1px rgb(0, 0, 0, 0.2);
  outline: none;
}

.dropdown-menu {
  background-color: white;
  box-sizing: border-box;
  padding: .1rem 0;
  list-style-type: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.popout * {
  font-size: 14px;
}

.dropdown-item {
  padding: 0.5rem 1rem 0.5rem 0.8rem;
  font-weight: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 36px;
}

.dropdown-profile-redirect {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-item:hover {
  background-color: rgb(248, 248, 248);
}

.dropdown-item-redirect {
  cursor: pointer;
  border: none;
  background-color: white;
  text-align: left;
  width: 100%;
  padding: .5rem 1rem;
  border-top: 1px solid rgb(211, 211, 211);
  height: 36px;
}

.dropdown-item-redirect:hover {
  background-color: rgb(248, 248, 248);
}

.popout {
  position: absolute !important;
  right: 10vw;
  top: 55px;
  min-width: 220px;
}

.toggle-bar {
position: fixed;
top: 0;
margin-top: 70px;
/* margin-bottom: 20px; */
margin-left: 33%;
width: 34%;
display: flex;
flex-direction: row;
justify-content: space-around;
/* background-color: rgb(5, 124, 59); */
}

.toggle-button {
width: 100px;
border: none;
color: rgb(14,164,227);
border-radius: 1px;
/* border: 1px; */
/* border-color:  rgb(13, 173, 93); */
cursor: pointer;
padding: 5px;
margin-top: 4px;
font-weight: 500;
font-size: 16px;
}

.homepage-feed {
overflow-y: auto;
}

.homepage-feed::-webkit-scrollbar {
display: none;
}

.logout-button {
width: 100px;
border: none;
color: rgb(14,164,227);
border-radius: 1px;
/* border: 1px; */
/* border-color:  rgb(13, 173, 93); */
cursor: pointer;
padding: 5px;
margin-top: 4px;
/* font-weight: 500; */
font-size: 16px;
}

.back-link {
color: rgb(14,164,227);
}

.back-link:hover {
text-decoration: underline;
}

.back-link-container {
margin-left: 2px;
}

.apply-link {
color: rgb(14,164,227);
}

.cancel-link {
color: red;
}

.confirm-link {
color: green;
}

.confirm-link:hover, .cancel-link:hover {
cursor: pointer;
font-weight: 600;
}

.apply-link:hover {
font-size: 18px;

}

.apply-link-container, .link-container {
padding: 3px;
/* margin-left: 2px; */
}

.open-status {
color: green;
}

.pending-status {
color: goldenrod;
}

.complete-status, .cancel-status {
color: darkred;
}

.open-status, .pending-status, .complete-status, .cancel-status {
font-weight: bold;
}